<div id="ApproverLookupRuleDiv">
  <h4 class="font-thin" data-ng-click="controller.toggleView('showApprovalRules')">
    <i data-ng-class="showApprovalRules ? 'fa fa-minus-square-o myIcons' : 'fa fa-plus-square-o myIcons'" aria-hidden="true"></i>&nbsp;Approver&nbsp; 
  </h4>
  <hr class="nice-ruler" data-ng-hide="showApprovalRules" />
  <div data-ng-show="showApprovalRules">
    <table id="CustomGovernancePluginRulesTable" class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th class="th-boldHeader">Approver</th>
          <th class="th-boldHeader">Approver Lookup Rule</th>
          <th class="th-boldHeader">action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable" data-ng-repeat="(key, value) in configObject.approverLookupRules">
          <td data-ng-click="controller.showApproverLookupModal(key, value)">{{key}}</td>
          <td data-ng-click="controller.showApproverLookupModal(key, value)">{{value}}</td>
          <td width="100px"><i class="fa fa-trash-o myIcons" aria-hidden="true" data-ng-click="controller.deleteApproverLookup(key)"></i></td>
        </tr>
      </tbody>
    </table>
    <hr class="nice-ruler" />
    <a class="btn btn-link btn-block" role="button" data-ng-click="controller.showAddNewApproverLookupModal()">add new Approver</a> 
  </div>
</div>