<div id="CustomGovernancePluginConfigurationDiv">
	<h5 data-ng-click="controller.toggleView('showApprovalLevels')">
		Approval Level&nbsp;<i data-ng-class="showApprovalLevels ? 'fa fa-minus-square-o' : 'fa fa-plus-square-o'" aria-hidden="true"></i> 
	</h5>
	<hr data-ng-hide="showApprovalLevels"></hr>
	<div id="GovernanceConfigurationDiv" data-ng-show="showApprovalLevels">
		<table id="CustomGovernancePluginConfigTable" class="table table-hover">
			<tbody>
				<tr class="clickable" data-ng-repeat="key in approvalLevelArray | orderBy">
					<td data-ng-click="controller.showApprovalLevelModal(key)">{{key}}</td>
          <td width="100px"><i class="fa fa-trash-o" aria-hidden="true" data-ng-click="controller.deleteApprovalLevel(key)"></i></td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary btn-sm" role="button" data-ng-click="controller.showAddApprovalLevelModal()">add Approval Level</a> 
	</div>
	<br />
</div>
