<div id="GeneralConfigurationDiv">
	  <h4 class="font-thin" data-ng-click="controller.toggleView('defaultConfig')"><i data-ng-class="showApplication['defaultConfig'] ? 'fa fa-minus-square-o myIcons' : 'fa fa-plus-square-o myIcons'" aria-hidden="true"></i>&nbsp;Default General Configuration&nbsp;</h4>

    <table class="table" data-ng-show="showApplication['defaultConfig'] === true">
      <tr>
        <td class="td-lefthand"><strong>Default Approval Level</strong></td>
        <td class="td-righthand">
          <select class="form-control" name="approvalModeSelect" id="approvalModeSelect" data-ng-model="configObject.GeneralConfiguration.defaultApprovalLevel">
            <option data-ng-repeat="level in approvalLevels" value="{{level}}">{{level}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="td-lefthand"><strong>Default Approval Owner</strong></td>
        <td class="td-righthand">
          <input  class="form-control"
                  id="defaultApprovalOwner"
                  type="text"
                  data-ng-model="configObject.GeneralConfiguration.defaultOwner"
                  placeholder="insert approver name"
                  data-ng-required="true" />
        </td>
      </tr>
      <tr>
        <td class="td-lefthand"><strong>is requestable</strong></td>
        <td class="td-righthand">
          <select class="form-control" data-ng-model="configObject.GeneralConfiguration.isRequestable">
            <option>true</option>
            <option>false</option>
          </select>
      </tr>
    </table>
	</div>