<div id="CustomGovernancePluginSetupDiv" data-ng-hide="showErrorMessage">
  <div id="CustomGovernancePluginSetupRestart" data-ng-show="setupInformation.integration">
    <div class="alert alert-info">
      It seems that the integration was already performed. If you want to start over, click on the button.<br />
      <strong>This does not undo the existing integration, but rather resets this screen to enable the integration function again.</strong> 
    </div>
    <input class="btn btn-primary btn-block" type="submit" value="start over" data-ng-click="controller.revertSystemIntegrationStatus()" />
  </div>
  <div id="CustomGovernancePluginSetupInformation" data-ng-hide="setupInformation.integration">
    <h4 class="font-thin">Setup Information</h4>
    <p>
      Based on the System Configuration, the workflow <strong>{{setupInformation.workflow}}</strong> will be modified.
    </p>
    <p>
      The following Steps will be altered:
    </p>
    <ul>
      <li data-ng-repeat="step in setupInformation.steps">{{step}}</li>
    </ul>
    <p>
      Each step will be modified to include the argument <strong>{{setupInformation.attribute}}</strong> with value <strong>{{setupInformation.rule}}</strong>
    </p>
    <div id="approvalModeDiv">
      <p>
        the approval mode will be set to: 
        <select name="approvalModeSelect" id="approvalModeSelect" data-ng-model="setupInformation.approvalMode">
          <option data-ng-repeat="mode in approvalModes" value="{{mode}}">{{mode}}</option>
        </select>
      </p>
      <div class="alert alert-info">
        {{modeInfo[setupInformation.approvalMode].description}}
      </div>
    </div>
    <div>
      <p>
        Additionally, we can add the <strong>{{setupInformation.aggregationRule}}</strong> rule to the following tasks. Please uncheck if you don't wish to do this.
      </p>
      <ul>
        <li data-ng-repeat="task in groupAggregationtasks"> <label> 
        <input type="checkbox" data-checklist-model="setupInformation.tasks" data-checklist-value="task" />
        &nbsp;{{task}}&nbsp; </label> </li>
      </ul>
    </div>
    <hr class="nice-ruler" />
    <label> 
      <input type="checkbox" data-ng-model="setupInformation.userAgreement" />
      <strong>&nbsp;I understand that clicking the button below will alter the {{setupInformation.workflow}} workflow.</strong>
      <strong>I made a backup of it or am otherwise prepared to restore its original state</strong>
    </label>
    <br />
    <hr class="nice-ruler" />
    <button type="button" class="btn btn-primary btn-block" value="perform System Integration" data-ng-click="controller.setupSystemIntegration()" data-ng-disabled="!setupInformation.userAgreement">apply changes</button> 
  </div>
</div>