<div id="CustomGovernancePluginSetupDiv" data-ng-hide="showErrorMessage">
  <div id="CustomGovernancePluginSetupRestart" data-ng-show="setupInformation.integration">
    <div class="alert alert-info">
      It seems that the integration was already performed. If you want to start over, click on the button.<br />
      <strong>This does not undo the existing integration, but rather resets this screen to enable the integration function again.</strong>
    </div>
    <p><input class="btn btn-primary btn-block" type="submit" value="start over" data-ng-click="controller.revertSystemIntegrationStatus()" /></p>
  </div>
  <div id="CustomGovernancePluginSetupInformation" data-ng-hide="setupInformation.integration">
  	<h5>Setup Information</h5>
    <p>Based on the System Configuration, the workflow <strong>{{setupInformation.workflow}}</strong> will be modified.</p>
    <p>The following Steps will be altered:
      <ol>
        <li data-ng-repeat="step in setupInformation.steps">{{step}}</li>
      </ol>
    </p>
    <p>Each step will be modified to include the argument <strong>{{setupInformation.attribute}}</strong> with value <strong>{{setupInformation.rule}}</strong></p>
    <div id="approvalModeDiv">
      <p>
      the approval mode will be set to:
        <select name="approvalModeSelect" id="approvalModeSelect" data-ng-model="setupInformation.approvalMode">
            <option data-ng-repeat="mode in approvalModes" value="{{mode}}">{{mode}}</option>
        </select>
      </p>
      <div class="alert alert-info">{{modeInfo[setupInformation.approvalMode].description}}</div>
    </div>
    <br />
    <p>
      <label>
          <input type="checkbox" data-ng-model="setupInformation.userAgreement" /><strong>I understand that clicking the button below will alter the {{setupInformation.workflow}} workflow. I made a backup of it or am otherwise prepared to restore its original state</strong>
      </label>
    </p>
    <br />
    <p><input class="btn btn-primary btn-block" 
              type="submit" value="perform System Integration" 
              data-ng-click="controller.setupSystemIntegration()"
              data-ng-disabled="!setupInformation.userAgreement"/></p>
  </div>
</div>