<div id="EntitlementConfigurationDiv">
  <h4 class="font-thin" data-ng-click="controller.toggleView('applicationView')">
    <i data-ng-class="toggleIndicators.showApplication['applicationView'] ? 'fa fa-minus-square-o myIcons' : 'fa fa-plus-square-o myIcons'" aria-hidden="true"></i>&nbsp;Defined Applications&nbsp; 
  </h4>
  <table class="table" data-ng-show="toggleIndicators.showApplication['applicationView'] === true">
    <tr data-ng-repeat="(name, application) in configObject.ApplicationConfiguration">
      <td><i data-ng-click="controller.toggleView(name)" data-ng-class="toggleIndicators.showApplication[name] ? 'fa fa-minus-square-o myIcons' : 'fa fa-plus-square-o myIcons'" aria-hidden="true"></i>&nbsp;{{name}}&nbsp; 
      <div data-ng-show="toggleIndicators.showApplication[name] === true">
        <application-general-configuration></application-general-configuration>
        <application-entitlement-listing></application-entitlement-listing>
      </div>
      </td>
      <td width="100px"><i class="fa fa-trash-o myIcons" aria-hidden="true" data-ng-click="controller.deleteApplication(name)"></i></td>
    </tr>
    <tr>
      <td colspan="2"> 
      <hr class="nice-ruler" />
      <input class="btn btn-link btn-block" type="submit" value="add Application" data-ng-click="controller.addApplication()" />
      </td>
    </tr>
  </table>
</div>